<form class="form-sign" action="/auth/recover" method="post">
    <img class="mb-4" src="https://elementary.io/images/icons/apps/128/system-software-install.svg" alt="" width="72"
         height="72">
    <h3 class="h3 mb-3 font-weight-normal">Восстановление пароля</h3>

    {{#if error}}
        <div class="alert alert-danger fade show" role="alert">
            {{error}}
        </div>
    {{/if}}

    {{#if info}}
        <div class="alert alert-warning fade show" role="alert">
            {{info}}
        </div>
    {{/if}}

    {{#if success}}
        <div class="alert alert-success fade show" role="alert">
            {{ success }}
        </div>
    {{/if}}

    <label for="inputEmail" class="sr-only">Email</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required
           autofocus>


    <input type="hidden" name="_csrf" value="{{ csrf }}">

    <button class="btn btn-lg btn-primary btn-block" style="margin-top: 10px;" type="submit">Восстановить пароль
    </button>
    <p class="mt-3"><a href="/auth/login">Я знаю пароль</a></p>
</form>